*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.wallpaper{
    background-image: url(/pens-2048px-6470.jpg);
    height: 90.2vh;
    width: 100%;
    background-repeat: no-repeat;
    background-size:cover;
    background-position: center;
 }
